In [5]:
import glob
import os
import pandas as pd
import geopy.distance
pd.set_option('display.max_columns', None)  
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

def reduce_memory(df):
    for c in df.columns:
        if df[c].dtype=='int':
            if df[c].min()<0:
                if df[c].abs().max()<2**7:
                    df[c] = df[c].astype('int8')
                elif df[c].abs().max()<2**15:
                    df[c] = df[c].astype('int16')
                elif df[c].abs().max()<2**31:
                    df[c] = df[c].astype('int32')
                else:
                    continue
            else:
                if df[c].max()<2**8:
                    df[c] = df[c].astype('uint8')
                elif df[c].max()<2**16:
                    df[c] = df[c].astype('uint16')
                elif df[c].max()<2**32:
                    df[c] = df[c].astype('uint32')
                else:
                    continue
    return df

In [7]:
#check the data structure of each file
for files in glob.glob("C:/Users/weiji/OneDrive/Desktop/hdbdata/rawdata/*.csv"):
    df = pd.read_csv(files)
    print (files, 'has ', len(df.columns), 'columns\n')
    print (df.columns, '\n')
    print (df.dtypes, '\n')

C:/Users/weiji/OneDrive/Desktop/hdbdata/rawdata\resale-flat-1990_to_1999.csv has  10 columns

Index(['month', 'town', 'flat_type', 'block', 'street_name', 'storey_range',
       'floor_area_sqm', 'flat_model', 'lease_commence_date', 'resale_price'],
      dtype='object')

month                   object
town                    object
flat_type               object
block                   object
street_name             object
storey_range            object
floor_area_sqm         float64
flat_model              object
lease_commence_date      int64
resale_price             int64
dtype: object

C:/Users/weiji/OneDrive/Desktop/hdbdata/rawdata\resale-flat-2000_to_feb2012.csv has  10 columns

Index(['month', 'town', 'flat_type', 'block', 'street_name', 'storey_range',
       'floor_area_sqm', 'flat_model', 'lease_commence_date', 'resale_price'],
      dtype='object')

month                   object
town                    object
flat_type               object
block                   object
street_name             object
storey_range            object
floor_area_sqm         float64
flat_model              object
lease_commence_date      int64
resale_price           float64
dtype: object

C:/Users/weiji/OneDrive/Desktop/hdbdata/rawdata\resale-flat-jan2015_onwards.csv has  11 columns

Index(['month', 'town', 'flat_type', 'block', 'street_name', 'storey_range',
       'floor_area_sqm', 'flat_model', 'lease_commence_date',
       'remaining_lease', 'resale_price'],
      dtype='object')

month                   object
town                    object
flat_type               object
block                   object
street_name             object
storey_range            object
floor_area_sqm         float64
flat_model              object
lease_commence_date      int64
remaining_lease          int64
resale_price           float64
dtype: object

C:/Users/weiji/OneDrive/Desktop/hdbdata/rawdata\resale-flat-mar2012_to_dec-2014.csv has  10 columns

Index(['month', 'town', 'flat_type', 'block', 'street_name', 'storey_range',
       'floor_area_sqm', 'flat_model', 'lease_commence_date', 'resale_price'],
      dtype='object')

month                   object
town                    object
flat_type               object
block                   object
street_name             object
storey_range            object
floor_area_sqm         float64
flat_model              object
lease_commence_date      int64
resale_price           float64
dtype: object

Jan 2015 onwards dataset has 11 columns. Extra column called remaininglease

In [154]:
df = pd.DataFrame()
for files in glob.glob("C:/Users/weiji/OneDrive/Desktop/hdbdata/rawdata/*.csv"):
    print ('Concatenating now...', files)
    df = pd.concat([df,pd.read_csv(files).iloc[:,:]],axis=0)
print ('Datasets are concatenated into one file.')

df.to_csv("C:/Users/weiji/OneDrive/Desktop/hdbdata/resale-flat-merged.csv", encoding='utf-8')

Concatenating now... C:/Users/weiji/OneDrive/Desktop/hdbdata/rawdata\resale-flat-1990_to_1999.csv
Concatenating now... C:/Users/weiji/OneDrive/Desktop/hdbdata/rawdata\resale-flat-2000_to_feb2012.csv
Concatenating now... C:/Users/weiji/OneDrive/Desktop/hdbdata/rawdata\resale-flat-jan2015_onwards.csv

C:\Users\weiji\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  after removing the cwd from sys.path.

Concatenating now... C:/Users/weiji/OneDrive/Desktop/hdbdata/rawdata\resale-flat-mar2012_to_dec-2014.csv
Datasets are concatenated into one file.

# Display Dataframe

In [11]:
df.shape

(789098, 11)

In [13]:
df.head()

,block,flat_model,flat_type,floor_area_sqm,lease_commence_date,month,remaining_lease,resale_price,storey_range,street_name,town
0,309,IMPROVED,1 ROOM,31.0,1977,1990-01,NaN,9000.0,10 TO 12,ANG MO KIO AVE 1,ANG MO KIO
1,309,IMPROVED,1 ROOM,31.0,1977,1990-01,NaN,6000.0,04 TO 06,ANG MO KIO AVE 1,ANG MO KIO
2,309,IMPROVED,1 ROOM,31.0,1977,1990-01,NaN,8000.0,10 TO 12,ANG MO KIO AVE 1,ANG MO KIO
3,309,IMPROVED,1 ROOM,31.0,1977,1990-01,NaN,6000.0,07 TO 09,ANG MO KIO AVE 1,ANG MO KIO
4,216,NEW GENERATION,3 ROOM,73.0,1976,1990-01,NaN,47200.0,04 TO 06,ANG MO KIO AVE 1,ANG MO KIO

In [14]:
df.dtypes

block                   object
flat_model              object
flat_type               object
floor_area_sqm         float64
lease_commence_date      int64
month                   object
remaining_lease        float64
resale_price           float64
storey_range            object
street_name             object
town                    object
dtype: object

As One MAP's API requires the address of the 'searchval' to be in order of 'block' + 'street_name', will have to combine these 2 variables

In [15]:
#combine the block and street name to get full address of flats
df["full_address"] = df["block"].map(str) + ' ' + df["street_name"].map(str)

In [16]:
#check for first 10 rows
df.head(10)

,block,flat_model,flat_type,floor_area_sqm,lease_commence_date,month,remaining_lease,resale_price,storey_range,street_name,town,full_address
0,309,IMPROVED,1 ROOM,31.0,1977,1990-01,NaN,9000.0,10 TO 12,ANG MO KIO AVE 1,ANG MO KIO,309 ANG MO KIO AVE 1
1,309,IMPROVED,1 ROOM,31.0,1977,1990-01,NaN,6000.0,04 TO 06,ANG MO KIO AVE 1,ANG MO KIO,309 ANG MO KIO AVE 1
2,309,IMPROVED,1 ROOM,31.0,1977,1990-01,NaN,8000.0,10 TO 12,ANG MO KIO AVE 1,ANG MO KIO,309 ANG MO KIO AVE 1
3,309,IMPROVED,1 ROOM,31.0,1977,1990-01,NaN,6000.0,07 TO 09,ANG MO KIO AVE 1,ANG MO KIO,309 ANG MO KIO AVE 1
4,216,NEW GENERATION,3 ROOM,73.0,1976,1990-01,NaN,47200.0,04 TO 06,ANG MO KIO AVE 1,ANG MO KIO,216 ANG MO KIO AVE 1
5,211,NEW GENERATION,3 ROOM,67.0,1977,1990-01,NaN,46000.0,01 TO 03,ANG MO KIO AVE 3,ANG MO KIO,211 ANG MO KIO AVE 3
6,202,NEW GENERATION,3 ROOM,67.0,1977,1990-01,NaN,42000.0,07 TO 09,ANG MO KIO AVE 3,ANG MO KIO,202 ANG MO KIO AVE 3
7,235,NEW GENERATION,3 ROOM,67.0,1977,1990-01,NaN,38000.0,10 TO 12,ANG MO KIO AVE 3,ANG MO KIO,235 ANG MO KIO AVE 3
8,235,NEW GENERATION,3 ROOM,67.0,1977,1990-01,NaN,40000.0,04 TO 06,ANG MO KIO AVE 3,ANG MO KIO,235 ANG MO KIO AVE 3
9,232,NEW GENERATION,3 ROOM,67.0,1977,1990-01,NaN,47000.0,01 TO 03,ANG MO KIO AVE 3,ANG MO KIO,232 ANG MO KIO AVE 3

looking through the data, there are duplicate addresses. To reduce the number of API calls, could use a list of unique addresses

In [20]:
# Obtain the number of unique full addresses
full_address_list = df["full_address"].unique().tolist()
len(full_address_list)

8904

# Batch Geocoding to get Lat and Long

In order to obtain the lattitude and longitude, need to query ONE MAP API. 
One MAP's search function returns search results with both latitude, longitude and x, y coordinates of the searched. 
One MAP client SDK has some available python code for use. However, there were problems with installing the swagger_client package. As such, will attempt to use the requests package as it should be able to handle rest APIs.

to access the One Map API, need to have an postman token (i.e., access token). will have to create one map developer account and install the postman app.

In [22]:
%%time
import requests

query_results = []
querystring = {}

for x in full_address_list:
    url = "https://developers.onemap.sg/commonapi/search"
    

    querystring.update({"searchVal":x,"returnGeom":"Y","getAddrDetails":"Y","pageNum":"1"})
    #print (querystring['searchVal'])
    
    payload = "------WebKitFormBoundary7MA4YWxkTrZu0gW\r\nContent-Disposition: form-data; name=\"searchVal\"\r\n\r\n\r\n------WebKitFormBoundary7MA4YWxkTrZu0gW\r\nContent-Disposition: form-data; name=\"returnGeom {Y/N}\"\r\n\r\n\r\n------WebKitFormBoundary7MA4YWxkTrZu0gW\r\nContent-Disposition: form-data; name=\"getAddrDetails {Y/N}\"\r\n\r\n\r\n------WebKitFormBoundary7MA4YWxkTrZu0gW\r\nContent-Disposition: form-data; name=\"pageNum\"\r\n\r\n\r\n------WebKitFormBoundary7MA4YWxkTrZu0gW--"
    headers = {
    'content-type': "multipart/form-data; boundary=----WebKitFormBoundary7MA4YWxkTrZu0gW",
    'Cache-Control': "no-cache",
    'Postman-Token': "2c00c356-6651-356f-037c-81f92877866c"
    }

    response = requests.request("GET", url, data=payload, headers=headers, params=querystring)
    

    query_results.append(response.json())

print('Query Complete.')

Query Complete.
Wall time: 14min 30s

In [24]:
df1 = pd.DataFrame.from_dict(query_results[0]['results'])

In [25]:
#save results into dataframe

latnlong_df = pd.DataFrame()
for entry in range(len(query_results)):
    temp_df = pd.DataFrame.from_dict(query_results[entry]['results'])
    latnlong_df = latnlong_df.append(temp_df)

In [26]:
latnlong_df.head()

,ADDRESS,BLK_NO,BUILDING,LATITUDE,LONGITUDE,LONGTITUDE,POSTAL,ROAD_NAME,SEARCHVAL,X,Y
0,216 ANG MO KIO AVENUE 1 ANG MO KIO 22 SINGAPOR...,216,ANG MO KIO 22,1.36619678831055,103.841505011903,103.841505011903,560216,ANG MO KIO AVENUE 1,ANG MO KIO 22,28911.0522399394,38692.6167905741
0,211 ANG MO KIO AVENUE 3 HDB-ANG MO KIO SINGAPO...,211,HDB-ANG MO KIO,1.36919696561704,103.841666636086,103.841666636086,560211,ANG MO KIO AVENUE 3,HDB-ANG MO KIO,28929.0379298831,39024.3611867
0,202 ANG MO KIO AVENUE 3 ANG MO KIO VIEW SINGAP...,202,ANG MO KIO VIEW,1.3684464401094,103.844516260527,103.844516260527,560202,ANG MO KIO AVENUE 3,ANG MO KIO VIEW,29246.1670971225,38941.3731856439
1,202 ANG MO KIO AVENUE 3 OCBC Ang Mo Kio Ave 3 ...,202,OCBC Ang Mo Kio Ave 3,1.36845752328242,103.844515336938,103.844515336938,560202,ANG MO KIO AVENUE 3,OCBC Ang Mo Kio Ave 3,29246.0643070503,38942.5987060368
0,235 ANG MO KIO AVENUE 3 KEBUN BARU PALM VIEW S...,235,KEBUN BARU PALM VIEW,1.36682360872345,103.83649123351,103.83649123351,560235,ANG MO KIO AVENUE 3,KEBUN BARU PALM VIEW,28353.0784864312,38761.926084429

In [27]:
latnlong_df["full_address"] = latnlong_df["BLK_NO"].map(str) + ' ' + latnlong_df["ROAD_NAME"].map(str)

In [29]:
latnlong_df["lat_long"] = latnlong_df["LATITUDE"] +' '+ latnlong_df["LONGITUDE"]
# convert lat_long column to tuples so that we can use it for calculation of distance later
latnlong_df["lat_long"] = latnlong_df["lat_long"].apply(lambda x: tuple(x.split(' ')))

In [31]:

# Save/load latnlong_df
latnlong_df.to_pickle('C:/Users/weiji/OneDrive/Desktop/hdbdata/latnlong_df.pkl')    
#latnlong_df = pd.read_pickle('data/latnlong_df.pkl')

# Obtain Distance of MRT station from address

In [72]:
# MRT station data from data.gov.sg is in SHP format
# Use shapefile from pyshp package to read the data into pandas; 
# see https://www.adamerispaha.com/2017/01/24/reading-shapefiles-into-pandas-dataframes/

def read_shapefile(shp_path):

    import shapefile

    myshp = open(shp_path)
    #read file, parse out the records and shapes
    sf = shapefile.Reader(shp_path)
    fields = [x[0] for x in sf.fields][1:]
    records = sf.records()
    shps = [s.points for s in sf.shapes()]
    
    #for each item in records, it is showing a list of records, need to change it to a list of list
    records = [list(item) for item in records]
    df = pd.DataFrame(columns=fields, data=records)

    return df

In [71]:
#read the datafile
mrt_latlong_df = read_shapefile("C:/Users/weiji/OneDrive/Desktop/sdcp-mrt-station-point-shp/MRT_PT.shp")
mrt_latlong_df.head()

,OBJECTID,UNIQUE_ID,REMARKS,INC_CRC,FMEL_UPD_D,X_ADDR,Y_ADDR
0,1,21,,52AA2BBA,2011-03-29,30170.9683,29101.6566
1,2,2,,13C79F9F4B8E6DDF,2011-03-29,28643.7989,31399.5329
2,3,3,,E7FAF621B9D811A6,2011-03-29,27879.1516,31804.3462
3,4,4,,4EA0DD3BD9F8DEBC,2011-03-29,28516.7988,32725.0980
4,5,5,,7B9BB370D55B1AE4,2011-03-29,29842.3639,32177.4094

In [74]:
station_address_list = mrt_latlong_df[""].unique().tolist()
len(station_address_list)

KeyError: ''

In [147]:
latnlong_df

,ADDRESS,BLK_NO,BUILDING,LATITUDE,LONGITUDE,LONGTITUDE,POSTAL,ROAD_NAME,SEARCHVAL,X,Y,full_address,lat_long
0,216 ANG MO KIO AVENUE 1 ANG MO KIO 22 SINGAPOR...,216,ANG MO KIO 22,1.36619678831055,103.841505011903,103.841505011903,560216,ANG MO KIO AVENUE 1,ANG MO KIO 22,28911.0522399394,38692.6167905741,216 ANG MO KIO AVENUE 1,"(1.36619678831055, 103.841505011903)"
0,211 ANG MO KIO AVENUE 3 HDB-ANG MO KIO SINGAPO...,211,HDB-ANG MO KIO,1.36919696561704,103.841666636086,103.841666636086,560211,ANG MO KIO AVENUE 3,HDB-ANG MO KIO,28929.0379298831,39024.3611867,211 ANG MO KIO AVENUE 3,"(1.36919696561704, 103.841666636086)"
0,202 ANG MO KIO AVENUE 3 ANG MO KIO VIEW SINGAP...,202,ANG MO KIO VIEW,1.3684464401094,103.844516260527,103.844516260527,560202,ANG MO KIO AVENUE 3,ANG MO KIO VIEW,29246.1670971225,38941.3731856439,202 ANG MO KIO AVENUE 3,"(1.3684464401094, 103.844516260527)"
1,202 ANG MO KIO AVENUE 3 OCBC Ang Mo Kio Ave 3 ...,202,OCBC Ang Mo Kio Ave 3,1.36845752328242,103.844515336938,103.844515336938,560202,ANG MO KIO AVENUE 3,OCBC Ang Mo Kio Ave 3,29246.0643070503,38942.5987060368,202 ANG MO KIO AVENUE 3,"(1.36845752328242, 103.844515336938)"
0,235 ANG MO KIO AVENUE 3 KEBUN BARU PALM VIEW S...,235,KEBUN BARU PALM VIEW,1.36682360872345,103.83649123351,103.83649123351,560235,ANG MO KIO AVENUE 3,KEBUN BARU PALM VIEW,28353.0784864312,38761.926084429,235 ANG MO KIO AVENUE 3,"(1.36682360872345, 103.83649123351)"
1,235 ANG MO KIO AVENUE 3 PCF SPARKLETOTS PRESCH...,235,PCF SPARKLETOTS PRESCHOOL @ YIO CHU KANG Blk 2...,1.36682360708104,103.83649123895,103.83649123895,560235,ANG MO KIO AVENUE 3,PCF SPARKLETOTS PRESCHOOL @ YIO CHU KANG Blk 2...,28353.0790917896,38761.9259028211,235 ANG MO KIO AVENUE 3,"(1.36682360708104, 103.83649123895)"
0,232 ANG MO KIO AVENUE 3 KEBUN BARU PALM VIEW S...,232,KEBUN BARU PALM VIEW,1.36834606813392,103.837196046409,103.837196046409,560232,ANG MO KIO AVENUE 3,KEBUN BARU PALM VIEW,28431.5154539891,38930.2720091306,232 ANG MO KIO AVENUE 3,"(1.36834606813392, 103.837196046409)"
0,308C ANG MO KIO AVENUE 1 TECK GHEE VISTA SINGA...,308C,TECK GHEE VISTA,1.36527118786113,103.844818746979,103.844818746979,563308,ANG MO KIO AVENUE 1,TECK GHEE VISTA,29279.8318750454,38590.2701135632,308C ANG MO KIO AVENUE 1,"(1.36527118786113, 103.844818746979)"
1,308B ANG MO KIO AVENUE 1 TECK GHEE VISTA SINGA...,308B,TECK GHEE VISTA,1.3652254590823,103.844427064658,103.844427064658,562308,ANG MO KIO AVENUE 1,TECK GHEE VISTA,29236.2423160665,38585.2134534009,308B ANG MO KIO AVENUE 1,"(1.3652254590823, 103.844427064658)"
2,308A ANG MO KIO AVENUE 1 TECK GHEE VISTA SINGA...,308A,TECK GHEE VISTA,1.36547951592016,103.844086654914,103.844086654914,561308,ANG MO KIO AVENUE 1,TECK GHEE VISTA,29198.3586352326,38613.3055928405,308A ANG MO KIO AVENUE 1,"(1.36547951592016, 103.844086654914)"
0,220A ANG MO KIO AVENUE 1 SINGAPORE 561220,220A,NIL,1.36509475395216,103.840891513679,103.840891513679,561220,ANG MO KIO AVENUE 1,220A ANG MO KIO AVENUE 1 SINGAPORE 561220,28842.7775965701,38570.7592199203,220A ANG MO KIO AVENUE 1,"(1.36509475395216, 103.840891513679)"
1,220 ANG MO KIO AVENUE 1 ANG MO KIO GROVE SINGA...,220,ANG MO KIO GROVE,1.36558833593066,103.840518883254,103.840518883254,560220,ANG MO KIO AVENUE 1,ANG MO KIO GROVE,28801.3080979748,38625.3368742242,220 ANG MO KIO AVENUE 1,"(1.36558833593066, 103.840518883254)"
0,219 ANG MO KIO AVENUE 1 ANG MO KIO GROVE SINGA...,219,ANG MO KIO GROVE,1.36598198004508,103.840654039612,103.840654039612,560219,ANG MO KIO AVENUE 1,ANG MO KIO GROVE,28816.3492579284,38668.8640811555,219 ANG MO KIO AVENUE 1,"(1.36598198004508, 103.840654039612)"
0,320 ANG MO KIO AVENUE 1 TECK GHEE VISTA SINGAP...,320,TECK GHEE VISTA,1.36559245621342,103.848386744168,103.848386744168,560320,ANG MO KIO AVENUE 1,TECK GHEE VISTA,29676.9072925839,38625.7965238243,320 ANG MO KIO AVENUE 1,"(1.36559245621342, 103.848386744168)"
1,320 ANG MO KIO AVENUE 1 STAR LEARNERS @ ANG MO...,320,STAR LEARNERS @ ANG MO KIO PTE. LTD.,1.3655924460853,103.848386744168,103.848386744168,560320,ANG MO KIO AVENUE 1,STAR LEARNERS @ ANG MO KIO PTE. LTD.,29676.9072925852,38625.7954039089,320 ANG MO KIO AVENUE 1,"(1.3655924460853, 103.848386744168)"
0,223 ANG MO KIO AVENUE 1 HDB-ANG MO KIO SINGAPO...,223,HDB-ANG MO KIO,1.36604808445918,103.838122716883,103.838122716883,560223,ANG MO KIO AVENUE 1,HDB-ANG MO KIO,28534.6432265876,38676.1728609167,223 ANG MO KIO AVENUE 1,"(1.36604808445918, 103.838122716883)"
0,230 ANG MO KIO AVENUE 3 KEBUN BARU PALM VIEW S...,230,KEBUN BARU PALM VIEW,1.36885445228089,103.837896397823,103.837896397823,560230,ANG MO KIO AVENUE 3,KEBUN BARU PALM VIEW,28509.4560266172,38986.4866770673,230 ANG MO KIO AVENUE 3,"(1.36885445228089, 103.837896397823)"
1,230 ANG MO KIO AVENUE 3 THE ANG MO KIO FAMILY ...,230,THE ANG MO KIO FAMILY SERVICE CENTRE (ANG MO KIO),1.36875041500149,103.837993360863,103.837993360863,560230,ANG MO KIO AVENUE 3,THE ANG MO KIO FAMILY SERVICE CENTRE (ANG MO KIO),28520.2468654934,38974.9827850312,230 ANG MO KIO AVENUE 3,"(1.36875041500149, 103.837993360863)"
2,230 ANG MO KIO AVENUE 3 The Ang Mo Kio Family ...,230,The Ang Mo Kio Family Service Centres,1.36885444352143,103.837896404895,103.837896404895,560230,ANG MO KIO AVENUE 3,The Ang Mo Kio Family Service Centres,28509.4568135852,38986.4857084919,230 ANG MO KIO AVENUE 3,"(1.36885444352143, 103.837896404895)"
0,329 ANG MO KIO AVENUE 3 ANG MO KIO 31 SINGAPOR...,329,ANG MO KIO 31,1.36659908629037,103.846874419073,103.846874419073,560329,ANG MO KIO AVENUE 3,ANG MO KIO 31,29508.602895557,38737.1035531275,329 ANG MO KIO AVENUE 3,"(1.36659908629037, 103.846874419073)"
1,329 ANG MO KIO AVENUE 3 MY FIRST SKOOL SINGAPO...,329,MY FIRST SKOOL,1.36659908300555,103.846874423696,103.846874423696,560329,ANG MO KIO AVENUE 3,MY FIRST SKOOL,29508.6034101144,38737.1031899117,329 ANG MO KIO AVENUE 3,"(1.36659908300555, 103.846874423696)"
0,313 ANG MO KIO AVENUE 3 TECK GHEE EVERGREEN SI...,313,TECK GHEE EVERGREEN,1.366649726406,103.850133665442,103.850133665442,560313,ANG MO KIO AVENUE 3,TECK GHEE EVERGREEN,29871.3180071782,38742.7053699456,313 ANG MO KIO AVENUE 3,"(1.366649726406, 103.850133665442)"
0,117 ANG MO KIO AVENUE 4 KEBUN BARU HEIGHTS SIN...,117,KEBUN BARU HEIGHTS,1.37371708253683,103.835610469339,103.835610469339,560117,ANG MO KIO AVENUE 4,KEBUN BARU HEIGHTS,28255.0592533173,39524.1712259985,117 ANG MO KIO AVENUE 4,"(1.37371708253683, 103.835610469339)"
0,110 ANG MO KIO AVENUE 4 KEBUN BARU HEIGHTS SIN...,110,KEBUN BARU HEIGHTS,1.37045937010892,103.837419259859,103.837419259859,560110,ANG MO KIO AVENUE 4,KEBUN BARU HEIGHTS,28456.3560250108,39163.9502265044,110 ANG MO KIO AVENUE 4,"(1.37045937010892, 103.837419259859)"
0,343 ANG MO KIO AVENUE 3 TECK GHEE EVERGREEN SI...,343,TECK GHEE EVERGREEN,1.36837475142721,103.849151106677,103.849151106677,560343,ANG MO KIO AVENUE 3,TECK GHEE EVERGREEN,29761.9697099059,38933.4491183106,343 ANG MO KIO AVENUE 3,"(1.36837475142721, 103.849151106677)"
1,343 ANG MO KIO AVENUE 3 MY FIRST SKOOL SINGAPO...,343,MY FIRST SKOOL,1.36837474759491,103.849151113749,103.849151113749,560343,ANG MO KIO AVENUE 3,MY FIRST SKOOL,29761.9704968736,38933.4486945588,343 ANG MO KIO AVENUE 3,"(1.36837474759491, 103.849151113749)"
0,345 ANG MO KIO AVENUE 3 TECK GHEE EVERGREEN SI...,345,TECK GHEE EVERGREEN,1.36748702509968,103.849651723914,103.849651723914,560345,ANG MO KIO AVENUE 3,TECK GHEE EVERGREEN,29817.6830492275,38835.2892298792,345 ANG MO KIO AVENUE 3,"(1.36748702509968, 103.849651723914)"
0,346 ANG MO KIO AVENUE 3 TECK GHEE EVERGREEN SI...,346,TECK GHEE EVERGREEN,1.3670958687517,103.84966230288,103.84966230288,560346,ANG MO KIO AVENUE 3,TECK GHEE EVERGREEN,29818.8606554014,38792.0371589195,346 ANG MO KIO AVENUE 3,"(1.3670958687517, 103.84966230288)"
0,121 ANG MO KIO AVENUE 3 HDB-ANG MO KIO SINGAPO...,121,HDB-ANG MO KIO,1.36970563478327,103.843515981311,103.843515981311,560121,ANG MO KIO AVENUE 3,HDB-ANG MO KIO,29134.8474763403,39080.6080295015,121 ANG MO KIO AVENUE 3,"(1.36970563478327, 103.843515981311)"
1,121 ANG MO KIO AVENUE 3 PCF SPARKLETOTS PRESCH...,121,PCF SPARKLETOTS PRESCHOOL @ YIO CHU KANG Blk 1...,1.36970226464477,103.84343759746,103.84343759746,560121,ANG MO KIO AVENUE 3,PCF SPARKLETOTS PRESCHOOL @ YIO CHU KANG Blk 1...,29126.1243039677,39080.2353398186,121 ANG MO KIO AVENUE 3,"(1.36970226464477, 103.84343759746)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,265A PUNGGOL WAY PUNGGOL EMERALD SINGAPORE 821265,265A,PUNGGOL EMERALD,1.40566686857543,103.898715616217,103.898715616217,821265,PUNGGOL WAY,PUNGGOL EMERALD,35277.790404317,43057.1182673723,265A PUNGGOL WAY,"(1.40566686857543, 103.898715616217)"
0,463C SEMBAWANG DRIVE SEMBAWANG RIVERLODGE SING...,463C,SEMBAWANG RIVERLODGE,1.45623509145477,103.814292200264,103.814292200264,753463,SEMBAWANG DRIVE,SEMBAWANG RIVERLODGE,25882.6727292768,48648.6050165053,463C SEMBAWANG DRIVE,"(1.45623509145477, 103.814292200264)"
0,451A SENGKANG WEST WAY FERNVALE FOLIAGE SINGAP...,451A,FERNVALE FOLIAGE,1.39434919388299,103.874053796487,103.874053796487,791451,SENGKANG WEST WAY,FERNVALE FOLIAGE,32533.2903478334,41805.6044263896,451A SENGKANG WEST WAY,"(1.39434919388299, 103.874053796487)"
0,348D YISHUN AVENUE 11 ADORA GREEN SINGAPORE 76...,348D,ADORA GREEN,1.42692662097561,103.842896956705,103.842896956705,764348,YISHUN AVENUE 11,ADORA GREEN,29065.9317570749,45407.814784551,348D YISHUN AVENUE 11,"(1.42692662097561, 103.842896956705)"
0,426C YISHUN AVENUE 11 FLORAL SPRING @ YISHUN S...,426C,FLORAL SPRING @ YISHUN,1.42271649180054,103.846963657212,103.846963657212,763426,YISHUN AVENUE 11,FLORAL SPRING @ YISHUN,29518.4981047944,44942.2821774315,426C YISHUN AVENUE 11,"(1.42271649180054, 103.846963657212)"
0,336B YISHUN STREET 31 YISHUN RIVERWALK SINGAPO...,336B,YISHUN RIVERWALK,1.431373380468,103.844331402418,103.844331402418,762336,YISHUN STREET 31,YISHUN RIVERWALK,29225.5619855998,45899.5157888662,336B YISHUN STREET 31,"(1.431373380468, 103.844331402418)"
0,426D YISHUN AVENUE 11 FLORAL SPRING @ YISHUN S...,426D,FLORAL SPRING @ YISHUN,1.42312201562131,103.84749822076,103.84749822076,764426,YISHUN AVENUE 11,FLORAL SPRING @ YISHUN,29577.9869513315,44987.1233175378,426D YISHUN AVENUE 11,"(1.42312201562131, 103.84749822076)"
0,336C YISHUN STREET 31 YISHUN RIVERWALK SINGAPO...,336C,YISHUN RIVERWALK,1.43184054730224,103.844133465,103.844133465,763336,YISHUN STREET 31,YISHUN RIVERWALK,29203.5342788419,45951.1726432778,336C YISHUN STREET 31,"(1.43184054730224, 103.844133465)"
0,487A SEGAR ROAD SEGAR GROVE SINGAPORE 671487,487A,SEGAR GROVE,1.38936721496831,103.771090986967,103.771090986967,671487,SEGAR ROAD,SEGAR GROVE,21074.8777134508,41254.7744921297,487A SEGAR ROAD,"(1.38936721496831, 103.771090986967)"
1,487 SEGAR ROAD SEGAR GROVE SINGAPORE 670487,487,SEGAR GROVE,1.38917307077875,103.771106194707,103.771106194707,670487,SEGAR ROAD,SEGAR GROVE,21076.5695726672,41233.3069549464,487 SEGAR ROAD,"(1.38917307077875, 103.771106194707)"
2,487 SEGAR ROAD MY FIRST SKOOL SINGAPORE 670487,487,MY FIRST SKOOL,1.38917306201939,103.771106197699,103.771106197699,670487,SEGAR ROAD,MY FIRST SKOOL,21076.5699056153,41233.3059863709,487 SEGAR ROAD,"(1.38917306201939, 103.771106197699)"
0,486 SEGAR ROAD SEGAR GROVE SINGAPORE 670486,486,SEGAR GROVE,1.38924060817624,103.77162077126,103.77162077126,670486,SEGAR ROAD,SEGAR GROVE,21133.835477946,41240.7734006326,486 SEGAR ROAD,"(1.38924060817624, 103.77162077126)"
0,166A TECK WHYE CRESCENT TECK WHYE CREST SINGAP...,166A,TECK WHYE CREST,1.38329360087489,103.753025884378,103.753025884378,681166,TECK WHYE CRESCENT,TECK WHYE CREST,19064.4426095311,40583.2450402714,166A TECK WHYE CRESCENT,"(1.38329360087489, 103.753025884378)"
0,183B BOON LAY AVENUE BOON LAY GROVE SINGAPORE ...,183B,BOON LAY GROVE,1.34809658034934,103.709411374507,103.709411374507,642183,BOON LAY AVENUE,BOON LAY GROVE,14210.4945483811,36691.5374598857,183B BOON LAY AVENUE,"(1.34809658034934, 103.709411374507)"
0,265B PUNGGOL WAY PUNGGOL EMERALD SINGAPORE 822265,265B,PUNGGOL EMERALD,1.40519969260242,103.898662558654,103.898662558654,822265,PUNGGOL WAY,PUNGGOL EMERALD,35271.8872697209,43005.4601114374,265B PUNGGOL WAY,"(1.40519969260242, 103.898662558654)"
0,265C PUNGGOL WAY PUNGGOL EMERALD SINGAPORE 823265,265C,PUNGGOL EMERALD,1.4049972897509,103.898518563343,103.898518563343,823265,PUNGGOL WAY,PUNGGOL EMERALD,35255.8631872651,42983.078965433,265C PUNGGOL WAY,"(1.4049972897509, 103.898518563343)"
0,463A SEMBAWANG DRIVE SEMBAWANG RIVERLODGE SING...,463A,SEMBAWANG RIVERLODGE,1.45559843682205,103.814045150572,103.814045150572,751463,SEMBAWANG DRIVE,SEMBAWANG RIVERLODGE,25855.1795024297,48578.2071648836,463A SEMBAWANG DRIVE,"(1.45559843682205, 103.814045150572)"
0,426B YISHUN AVENUE 11 FLORAL SPRING @ YISHUN S...,426B,FLORAL SPRING @ YISHUN,1.42272148459632,103.846366899948,103.846366899948,762426,YISHUN AVENUE 11,FLORAL SPRING @ YISHUN,29452.0877270794,44942.8338719718,426B YISHUN AVENUE 11,"(1.42272148459632, 103.846366899948)"
0,428B YISHUN AVENUE 11 FLORAL SPRING @ YISHUN S...,428B,FLORAL SPRING @ YISHUN,1.42207815400067,103.847233385196,103.847233385196,762428,YISHUN AVENUE 11,FLORAL SPRING @ YISHUN,29548.5153182659,44871.6981777102,428B YISHUN AVENUE 11,"(1.42207815400067, 103.847233385196)"
0,485 SEGAR ROAD SEGAR GROVE SINGAPORE 670485,485,SEGAR GROVE,1.38868132378095,103.771312569429,103.771312569429,670485,SEGAR ROAD,SEGAR GROVE,21099.5349815624,41178.9314302374,485 SEGAR ROAD,"(1.38868132378095, 103.771312569429)"
0,265D PUNGGOL WAY PUNGGOL EMERALD SINGAPORE 824265,265D,PUNGGOL EMERALD,1.40482604982364,103.89830171747,103.89830171747,824265,PUNGGOL WAY,PUNGGOL EMERALD,35231.7317345665,42964.1434358917,265D PUNGGOL WAY,"(1.40482604982364, 103.89830171747)"
0,452B SENGKANG WEST WAY FERNVALE FOLIAGE SINGAP...,452B,FERNVALE FOLIAGE,1.39359219975013,103.873975642578,103.873975642578,792452,SENGKANG WEST WAY,FERNVALE FOLIAGE,32524.5942955755,41721.8996794782,452B SENGKANG WEST WAY,"(1.39359219975013, 103.873975642578)"
0,452A SENGKANG WEST WAY FERNVALE FOLIAGE SINGAP...,452A,FERNVALE FOLIAGE,1.39354732029359,103.874486020747,103.874486020747,791452,SENGKANG WEST WAY,FERNVALE FOLIAGE,32581.3927421123,41716.9381213188,452A SENGKANG WEST WAY,"(1.39354732029359, 103.874486020747)"
0,782A WOODLANDS CRESCENT WOODLANDS MEADOW SINGA...,782A,WOODLANDS MEADOW,1.44746650320485,103.802661294631,103.802661294631,731782,WOODLANDS CRESCENT,WOODLANDS MEADOW,24588.3283292755,47679.0326009728,782A WOODLANDS CRESCENT,"(1.44746650320485, 103.802661294631)"
0,348A YISHUN AVENUE 11 ADORA GREEN SINGAPORE 76...,348A,ADORA GREEN,1.42735308102408,103.84121918037,103.84121918037,761348,YISHUN AVENUE 11,ADORA GREEN,28879.2199160183,45454.9698817432,348A YISHUN AVENUE 11,"(1.42735308102408, 103.84121918037)"
1,348A YISHUN AVENUE 11 BUSY BEES SINGAPORE 761348,348A,BUSY BEES,1.42735307116968,103.841219186625,103.841219186625,761348,YISHUN AVENUE 11,BUSY BEES,28879.2206121823,45454.9687920958,348A YISHUN AVENUE 11,"(1.42735307116968, 103.841219186625)"
0,347B YISHUN AVENUE 11 ADORA GREEN SINGAPORE 76...,347B,ADORA GREEN,1.42749509336446,103.842377140401,103.842377140401,762347,YISHUN AVENUE 11,ADORA GREEN,29008.0836471318,45470.6733657159,347B YISHUN AVENUE 11,"(1.42749509336446, 103.842377140401)"
0,348C YISHUN AVENUE 11 ADORA GREEN SINGAPORE 76...,348C,ADORA GREEN,1.42714143019716,103.84223128885,103.84223128885,763348,YISHUN AVENUE 11,ADORA GREEN,28991.8526830073,45431.56700968,348C YISHUN AVENUE 11,"(1.42714143019716, 103.84223128885)"
0,235 JURONG EAST STREET 21 SINGAPORE 600235,235,NIL,1.33997597903357,103.742159955768,103.742159955768,600235,JURONG EAST STREET 21,235 JURONG EAST STREET 21 SINGAPORE 600235,17855.0206374254,35793.4407994114,235 JURONG EAST STREET 21,"(1.33997597903357, 103.742159955768)"
0,516 WEST COAST ROAD WEST COAST PRIDE SINGAPORE...,516,WEST COAST PRIDE,1.30816762157584,103.760445558856,103.760445558856,120516,WEST COAST ROAD,WEST COAST PRIDE,19889.9104561091,32276.1648552679,516 WEST COAST ROAD,"(1.30816762157584, 103.760445558856)"

In [151]:
# Save final data in csv file
df5 = latnlong_df
df5 = latnlong_df.to_csv("C:/Users/weiji/OneDrive/Desktop/hdbdata/latnlong_df.csv")